/* Style Settings */

@import url('https://fonts.googleapis.com/css?family=Product%20Sans:400,700&display=swap');
:root {
    --font: 'Prodcut Sans', 'Product Sans', sans-serif;
}

body {
    background: #0e0e0f;
    opacity:0;
    transition:.25s;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
}

@media only screen and (min-width: 600px) {
#body {
    max-width: 650px;
    margin: auto;
    padding: 2rem 1rem;
}
}

.theme-light {
    --color-main: #272727;
    --color-hover: #3A3D5F;
    --color-text: #fff;
 }

#Photo {
    width: 384px;
    height: 104px;
    display: block;
    margin: 8px auto 13px;
    border-radius: 8px;
    margin-bottom: 5px;
}

#Name {
    color: #4483B1;
    font-size: 36px;
    font-weight: 700;
    display: block;
    font-family: 'Product Sans';
    width: 100%;
    text-align: center;
}

#title {
    text-align: center;
    color: #fff;
    font-size: 18px;
    font-weight: 600;
    line-height: 1.25;
    display: block;
    font-family: var(--font);
    max-width: 450px;
    /* width: 100%; */
    margin-top: 5px;
    text-align: center;
    text-decoration: none;
}

#linksbutton {
    max-width: 350px;
    width: auto;
    display: block;
    margin: 15px auto 15px auto;
}

.links {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #272727;
    color: #ffffff;
    font-family: var(--font);
    text-align: center;
    margin-bottom: 8px;
    padding: 10px;
    text-decoration: none;
    font-size: 1rem;
    font-weight: bold;
    transition: all .25s cubic-bezier(.08, .59, .29, .99);
    border: solid #272727 2px;
}

.links img {
    display: block;
    margin: 0 auto;
}

.links:hover {
    background-color: #3A3D5F;
    border: solid #3A3D5F 2px;
}


.socials {
    width: auto;
    text-align: center;
    margin: 10px auto;
  }

.butt {
    display: inline-block;
    background-color: rgba(255, 255, 255, 0.0);
    padding: 0; /* Уберите отступы, если хотите, чтобы изображение занимало всю кнопку */
    text-decoration: none;
    font-size: 13px;
    font-weight: bold;
    transition: all .25s cubic-bezier(.08, .59, .29, .99);
    border: solid #272727 2px;
    width: 52.5px; /* Задайте фиксированные размеры кнопки */
    height: 52.5px; /* Задайте фиксированные размеры кнопки */
}

.butt img {
    width: 100%; /* Занимает всю ширину кнопки */
    height: auto; /* Сохраняет пропорции */
    display: block; /* Убирает отступы */
    border-radius: 8px; /* Скругление углов изображения */
}

.butt:hover {
    background-color: #3A3D5F;
    border: solid #3A3D5F 2px;
}

.footervalue {
    text-align: center;
    font-size: 1.3rem;
    margin-top: 10px;
}

.footervalue a {
    text-decoration:none;
}

#footertext {
    color: #272727;
    font-size: 12px;
    font-weight: 300;
    line-height: 1.25;
    display: block;
    font-family: var(--font);
    width: 100%;
    margin-top: 20px;
    text-align: center;
    text-decoration: none;
}

.tooltip {
	position: relative;
	display: inline-block;
	border-bottom: 1px dotted black;
  }
  
  .tooltip .tooltiptext {
	font-family: var(--font);
	font-weight: 500;
	font-size: 12pt;
	visibility: hidden;
	width: 120px;
	background-color: #555;
	color: #fff;
	text-align: center;
	border-radius: 6px;
	padding: 5px 0;
	position: absolute;
	z-index: 1;
	bottom: 115%;
	left: 50%;
	margin-left: -60px;
	opacity: 0;
	transition: opacity 0.15s;
  }
  
  .tooltip .tooltiptext::after {
	content: "";
	position: absolute;
	top: 100%;
	left: 50%;
	margin-left: -5px;
	border-width: 5px;
	border-style: solid;
	border-color: #555 transparent transparent transparent;
    transition: opacity 0.15s;
  }
  
  .tooltip:hover .tooltiptext {
	visibility: visible;
	opacity: 1;
	transition: opacity 0.15s;
  }


#c {
    color: #494949;
    font-size: 14px;
    font-weight: 600;
    line-height: 1.25;
    display: block;
    font-family: var(--font);
    max-width: 450px;
    /* width: 100%; */
    margin-top: 5px;
    text-align: center;
    text-decoration: none;
}

.menu {
    width: auto;
    text-align: center;
    margin: 7px auto 20px auto;
  }

.menubutt {
    display: inline-block;
    background-color: rgba(255, 255, 255, 0.0 );
    /* margin-bottom: 10px; */
    padding: 6px 15px;
    transition: all .25s cubic-bezier(.08, .59, .29, .99);
    /* border: solid #272727 2px;    */
    color: #ffffff;
    font-family: var(--font);
    text-align: center;
    text-decoration: none;
    font-size: 1rem;
    font-weight: bold;
}

.playlist {
    display: inline-block;
    background-color: rgba(255, 255, 255, 0.0 );
    margin-bottom: 10px;
    padding: 0px;
    text-decoration: none;
    font-size: 13px;
    font-weight: bold;
    transition: all .25s cubic-bezier(.08, .59, .29, .99);
    border: solid #272727 2px;
}

.backbutt {
    display: inline-block;
    width: 20px;
    background-color: rgba(255, 255, 255, 0.0 );
    /* margin-bottom: 10px; */
    padding: 6px 15px;
    transition: all .25s cubic-bezier(.08, .59, .29, .99);
    /* border: solid #272727 2px;    */
    color: #ffffff;
    font-family: var(--font);
    text-align: center;
    text-decoration: none;
    font-size: 1rem;
    font-weight: bold;
}
